.typo3-module-universal-messenger .preview-container {
    display: flex;
    width: 100%;
}

.typo3-module-universal-messenger .iframe-container {
    flex-direction: row;
    width: 100%;

    iframe {
        width: 100%;
        height: 800px;
        border: 1px dashed black;
    }
}
